* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7B7E7F;
    font-family: "Lato", sans-serif;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    padding: 0 10px;
}

.content {
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

header {
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
    background-color: #A6B4BD;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navbar {
    background-color: #4B4745;
    padding: 15px;
}

.navbar-brand {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

form {
    color: #fff;
    padding: 30px 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

input, select {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #A6B4BD;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 5px 15px;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

option {
    background-color: transparent;
}

input:hover, input:focus, select:hover, select:focus {
    border: 1px solid #13CA91;
}

label {
    font-size: 1rem;
    cursor: text;
    -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
}

.btn {
    color: #13CA91;
    border: 1px solid #13CA91;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #13CA91;
    color: #fff;
    transition: all .3s ease;
}

footer {
    text-align: center;
    color: #fff;
}

.error {
    background-color: #FBE9E7;
    border: 1px solid #F4511E;
    padding: 20px 0;
    margin-bottom: 20px;
    text-align: center;
    color: #F4511E;
}

/* Card */

.card-content {
    color: #fff;
}

.card__img {
    border: 1px solid #13CA91;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.card__img img {
    width: 100%;
    max-width: 250px;
}

.card__detail {
    border: 1px solid #13CA91;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}

.card__detail--span {
    color: #13CA91;
    font-weight: 700;
}

footer {
    margin: 20px 0;
}

@media only screen and (min-width:768px) {
    .card-content {
        display: flex;
        justify-content: space-between;
    }
    
    .card__img {
        width: 48%;
        margin-bottom: 0;
    }
    
    .card__text {
        width: 48%;
    }
}
